#Allow drives to spin down and spin down after 30 minutes
ACTION=="add|change", KERNEL=="sd[a-z]", ATTRS{queue/rotational}=="1", RUN+="/usr/bin/hdparm -B 127 -S 241 /dev/%k"